<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<h1>Библиотека</h1>
<a th:href="@{/books}">Книги</a>
 (зарегистрировано на текущий момент:
<label type="text" th:text=" ${booksCount}"></label>
 шт.)
<br>
<a th:href="@{/authors}">Авторы</a>
(
<label type="text" th:text=" ${authorsCount}"></label>
чел.)
<br>
<a th:href="@{/genres}">Жанры</a>
(
<label type="text" th:text=" ${genresCount}"></label>
шт.)
<br>
<a th:href="@{/logout}">logout</a>
</body>
</html>
